{% extends 'admin_panel/admin_base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Edit User</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="id_username" value="{{ user.username }}">
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="id_email" value="{{ user.email }}">
        </div>
        <button type="submit" class="btn btn-success" class="fas fa-check">Save Changes</button>
        <a href="{% url 'admin_user_list' %}" class="btn btn-secondary" class="fas fa-times">Cancel</a>
    </form>
</div>
{% endblock %}