{% extends 'admin_panel/admin_base.html' %}

{% block content %}
<h2>Product List</h2>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>Rs. {{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.get_category_display }}</td>
                <td>
                    <a href="{% url 'admin_edit_product' product.id %}" class="btn btn-warning btn-sm" class="fas fa-edit">Edit</a>
                    <a href="{% url 'admin_delete_product' product.id %}" class="btn btn-danger btn-sm" class="fas fa-trash">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}